<!--BODY DIV-->

<div class="body_div landing_page">
    <div class="container-fluid" id="cont">
        <div class="col-lg-6 col-sm-12" id="landing1">
            </div>      
        <div class="col-lg-4 col-sm-12" id="text">
            <h1 id="point">ASSESS <br /></h1>
            <h3>your health.</h3>
            <hr />
            <h1 id="point">CUSTOMIZE</h1>
            <h3>your workouts.</h3>
            <hr />
            <h1 id="point">
                EXCEED
            </h1>
            <h3>your goals.</h3>

        </div>
    </div>


