<h1>Let's get started:</h1>
<!--BODY DIV-->
<div class="body_div register_page">
    <div class="modal-body">
        <div class="row">
            <form class="col col-lg-6 col-lg-offset-1 col-sm-1">
                <div class="row">
                    <!--firstname-->
                    <div class="input-field col s12 m6">
                        <input placeholder="" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <!--lastname-->
                    <div class="input-field col s12 m6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                    <!--email-->
                    <div class="input-field col s12 m6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <!--username-->
                    <div class="input-field col s12 m6">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <!--password-->
                    <div class="input-field col s12 m6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <!--re-enter-password-->
                    <div class="input-field col s12 m6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Re-Enter Password</label>
                    </div>
                </div>
            </form>
            <div class="col-lg-5 col-sm-12" id="text">
                <h1 id="point">ASSESS <br /></h1>
                <h3>your health.</h3>
                <hr />
                <h1 id="point">CUSTOMIZE</h1>
                <h3>your workouts.</h3>
                <hr />
                <h1 id="point">
                    EXCEED
                </h1>
                <h3>your goals.</h3>

            </div>
        </div>
    </div>
</div>

